version: "3"

services:

  terrariagcp:
    image: ghcr.io/cfindlayisme/terraria-docker:latest-gcp
    container_name: terrariagcp
    ports:
      - "7777:7777"
    restart: unless-stopped
    volumes:
      - /srv/terraria/data:/config
    environment:
      GCS_BUCKET: "bucket"
      GCS_BUCKET_PATH: "/terraria"
